@charset "utf-8";

.m-main {
	position: relative;
	width: 100%;
	height: 520px;
	overflow: hidden;
}
.m-left {
	position: relative;
	float: left;
	width: 200px;
	height: 520px;
	/*margin: 6px 10px;*/
	background-color: #062a6f;
	overflow: hidden;
}
.m-left-con {
	position: relative;
	width: 222px;
	height: 500px;
	background-color: #062a6f;
	overflow-x: hidden;
	overflow-y: scroll;
}
.m-ullist {
	overflow: hidden;
}
.m-ullist li {
	width: 180px;
	margin: 0 auto;
	line-height: 50px;
	color: #ffffff;
	font-size: 16px;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	cursor: pointer;
}
.m-ullist li:hover, .m-ullist li.list-active {
	color: #f5c91d;
}

.m-right {
	position: relative;
	height: 500px;
	margin-left: 210px;
	margin-top: 10px;
	margin-right: 10px;
	overflow: hidden;
}
.list-block {
	display: none;
	position: relative;
	width: 100%;
	height: 500px;
	color: #ffffff;
}