/*灰色*/

/* top content */
	.layui-layout-admin .layui-header {
		background-color: #242A2E;
	}
	
/**右键菜单*/
	.rightmenu li:hover {
        background-color: #3B3C3C;
    }
	
/*左侧导航重定义*/
	.layui-nav .layui-nav-item a {
		background-color: #f0f3fa;
		border: 1px solid #BBBCBD;
		color: #868686;
	}
	.layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover {
		background-color: #242A2E;
		border: 1px solid #9D9E9F;
	}
	.layui-nav-tree .layui-nav-item dl.layui-nav-child a:hover {
		background-color: #242A2E;
		border: 1px solid #9D9E9F;
	}
	.layui-nav-tree .layui-nav-itemed > a {
		background-color: #242A2E !important;
		border: 1px solid #9D9E9F !important;
	}
	.layui-nav-tree .layui-nav-item a:hover {
		background-color: #242A2E;
		border: 1px solid #9D9E9F;
	}
		
	.layui-nav-tree .layui-nav-bar {
		background-color: #242A2E;
	}

/*右侧body*/
	.layui-tab-title .layui-this {
	    background-color: #242A2E;
	}
	
/* grid样式 */
	.layui-table thead tr, .layui-table-header {
		background-color: #242A2E !important;
	}
	.layui-table tbody tr:hover, .layui-table-click, 
	.layui-table-hover, .layui-table-mend, .layui-table-patch, 
	.layui-table-tool, .layui-table-total, .layui-table-total tr, 
	.layui-table tr:nth-child(even) {
		background-color: #BBBCBD !important;
	}
